* {
  background-color: #f1fff1;
}
.react-root {
  margin: 0;
}

img {
  max-width: 400px;
  justify-content: center;
  display: flex;
  padding: 0px 20px 20px;
}
Header {
  text-align: center;
  font-size: 50px;
  color: #9ebfcb;
  font-style: bold;
  padding: 20px 30px;
}
input {
  width: 10%;
  font-size: 20px;
}
label {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 10px;
  color: #9ebfcb;
}
.content {
  display: flex;
}
a {
  height: 20px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  text-decoration: none;
  border-radius: 12px;
  border-color: black;
}
button {
  height: 120px;
  width: 200px;
  cursor: pointer;
  border-radius: 12px;
  font-size: 30px;
  color: #8cb5c4;
  font-weight: bold;
}
